*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #202124;
  height: 100%;
}
.container{
  max-width: 1360px;
}
.navbar{
  display: flex;
  justify-content: flex-end;
}
.navbar ul{
  display: flex; 
  align-items: center;
} 
.navbar ul li{
  list-style: none;
  padding: 10px;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 13px;
}
.navbar ul li a:hover{
  text-decoration: underline;
}
.navbar img{
  display: flex;
  justify-content: center;
}

.avatar{
  height: 35px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-bar{
  width: 600px;
  height: 44px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5F6368;
  margin-top: 40px;
  padding-left: 15px;
}

.search .search-bar input{
  flex-grow: 1;
  height: 30px;
  outline: none;
  border: none;
  margin-right: 15px;
  font-size: 18px;
  background-color: #202124;
  
}

.search .search-bar img{
  cursor: pointer;
  margin-right: 15px;
}

.search-buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-buttons button{
  margin: 11px 4px;
  width: 140px;
  height: 36px;
  padding: 0 16px;
  cursor: pointer;
  border: 1px solid #303134;
  background-color: #303134;
  color: #e8eaed;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  text-align: center;
}
.search-buttons button:hover{
  border: 1px solid #5F6368;
}


.content p{
  font-size: 13px;
  color: #ccc;
}
.content p a{
  color: #4994F8;
  text-decoration: none;
}

.content p a:hover{
  text-decoration: underline;
}

.footer-1 {
  margin-top: 190px;
  width: auto;
  background-color: #171717;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #212327;
  padding: 0px 20px;
  
}
.footer-1 p{
  margin-left: 10px;
  font-size: 15px;
  background-color: none;
  color: #999DA2;
}
.footer-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  height: 50px;
  padding: 0 20px;
  
}

.footer-2 .footer--menu-1 ul{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;

}

.footer-2 .footer--menu-1 ul li{
  list-style: none;
  margin-left: 25px;
}
.footer-2 .footer--menu-1 ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #999DA2;

  
}
.footer-2 .footer--menu-1 ul li a:hover{
  text-decoration: underline;
}

.footer-2 .footer--menu-2 ul{
  display: flex;
  
}
.footer-2 .footer--menu-2 ul li{
  list-style: none;
}
.footer-2 .footer--menu-2 ul li a{
  text-decoration: none;
  margin: 20px;
  font-size: 14px;
  color: #999DA2;
}
.footer-2 .footer--menu-2 ul li a:hover{
  text-decoration: underline;
}


@media (max-width: 1024px){
  
  .container {
    width: 1024px;
  }
  footer{
     
  }

  .footer-1 {
      margin-top: 250px;
      height: 48px;
  }

  .footer-2 {
    align-items: center;
    justify-content: space-around;
    height: 46px;
  }
}